.movie-info__badge--yellow-2, .movie-item__badge--yellow-2 {
    background-color: #f7e000;
    color: #000;
}
.movie-item__image-wrapper {
    position: relative;
    width: 90.33333333%;
}
.movie-info__badge, .movie-item__badge {
    font-weight: 500;
    font-size: .625rem;
    z-index: 1;
    line-height: 1;
    text-transform: uppercase;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 0;
    top: 0.9375rem;
    left: -1.4375rem;
    -webkit-clip-path: polygon(25% 0,75% 0,100% 100%,0 100%);
    clip-path: polygon(25% 0,75% 0,100% 100%,0 100%);
    width: 100px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.movie-item__badge {
    position: absolute;
}

img{
    height: auto;
    max-width: 100%;
}
.columns:not(.is-desktop) {
    display: flex;
    -webkit-box-direction: normal;
}

.columns.is-multiline {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.columns:last-child {
    margin-bottom: -0.75rem;
}
.columns {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    margin-top: -0.75rem;
}
.column.is-3, .column.is-3-tablet {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 25%;
}
.movie-item__image img {
    transition: all .3s ease;
}

.column .movie-item {
    height: 100%;
}





.column.is-3, .column.is-3-tablet {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 25%;
}

.column {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}






.card, .cineco-card-item, .food-detail, .food-item, .media-card, .movie-item, .transaction-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    box-shadow: 0 0 10pxrgba(0,0,0,.1);
    color: rgb(0, 0, 0);
    padding: 0.9375rem 1.0625rem;
    background-color: rgb(255, 255, 255);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.movie-info__meta, .movie-item__meta{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .75rem;
    color: #000;
    width: 100%;
}
.movie-info__meta:not(:last-child), .movie-item__meta:not(:last-child) {
    margin-bottom: 0.15rem;
}
.tag:not(body).is-danger {
    background-color: #eaeaea;
    color: #d0021b;
}


.tag:not(body) {
    border-radius: 2px;
    height: auto;
    font-size: .6875rem;
    font-weight: 500;
    padding: 0.3125rem 0.625rem;
    background-color: #070707;
    color: #000;
    letter-spacing: .17px;
}

.tag:not(body) {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    color: #000;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
}




.nav-tabs .nav-tab {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: auto;
    padding: 0.75rem 1.375rem;
    border-radius: 1.5em;
    line-height: 1;
    font-weight: 500;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #1c508d;
    padding: 0.65rem 1rem;
    font-size: .75rem;
    border: none;
    color: #fff;
    text-align: center;
    font-weight: 400;
}






.header {
    background-color: #000;
    min-width: 1024px
}

.header{
    display: block;
}

.header-top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        padding: 0.3rem 1.625rem 0.3rem;
        background-color: #000;
        height: 3.75rem;
        border-bottom-right-radius: 1.875rem;
}


.search-bar__button {
    position: absolute;
    cursor: pointer;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    color: #1c508d;
    background-color: rgba(255,255,255,0);
    border: none;
}





.header-top .header-brand+* {
    margin-left: auto;
}

.nav-tabs {
    padding: 0.75rem 0;
}

.nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 0.5rem;
}



.search-bar__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #1c508d;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0;
    z-index: 2;
    overflow: hidden;
}


.search-bar__suggestions-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    top: calc(100% + 1rem);
    border-radius: 8px;
    overflow: hidden;
    max-height: 400px;
}

header .search-bar input {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: .75rem;
}

.search-bar__form .input {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding-right: 2.5rem;
    border: none;
}
.input.is-rounded, .textarea.is-rounded {
    border-radius: 2.8rem;
}

.input.is-rounded {
    border-radius: 290486px;
    padding-left: 1em;
    padding-right: 1em;
}



.icon svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    /* -webkit-transition: all .3s ease-in-out; */
    transition: all .3s ease-in-out;
}


.footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.625rem 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

a{
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #1c508d;
}

.header .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0.5rem;
}

a:link, a:visited, a:active {
    text-decoration:none;
}